<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.charles.spring.cloud.order.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.charles.spring.cloud.order.entity.Order">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="order_number" jdbcType="VARCHAR" property="orderNumber"/>
        <result column="order_address" jdbcType="VARCHAR" property="orderAddress"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, order_number, order_address, user_id
  </sql>
</mapper>