<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.charles.spring.cloud.goods.mapper.OrderGoodsRelMapper">
    <resultMap id="BaseResultMap" type="com.charles.spring.cloud.goods.entity.OrderGoodsRel">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="goods_id" jdbcType="INTEGER" property="goodsId"/>
        <result column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="goods_num" jdbcType="INTEGER" property="goodsNum"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, goods_id, order_id, goods_num
  </sql>
</mapper>